<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reservation</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        .head {
            background-image: url("{% static 'images/background/aboutBg.webp' %}");
        }
    </style>
</head>
<body style="background: #1e1e1e">

<header>
    <section style="height: 30vh; padding-bottom: 40px" class="head">
        <div class="container">
            <p class="subtitle subtitle-white">Luxury Hotel</p>
            <h2 class="head__title">Reservation</h2>
        </div>
    </section>
</header>
<main style="margin-right: auto; position: relative">
    <section class="reservation">
        <div class="container" style="padding: 0 30px">
            <div class="profile__message">
                <h5 class="restaurant__title">Reservation Details</h5>
                {% if not booking.user %}
                <form method="post" action="{% url 'booking' booking.pk booking.room.pk %}" class="profile__form">
                  {% csrf_token %}
                    <div class="profile__field">
                        <label class="profile__label">
                            {{form.name}}
                        </label>
                        <label class="profile__label">
                            {{form.email}}
                        </label>
                    </div>
                    <div class="profile__field">
                        <label class="profile__label">
                            {{form.message}}
                        </label>
                        <label class="profile__label">
                            {{form.phone}}
                        </label>
                    </div>
                    <button class="btn-brown btn-brown_small">Confirm booking</button>
                </form>
                {% else %}
                <a href="{% url 'success' %}">
                    <button class="btn-brown btn-brown_small">Confirm booking</button>
                  </a>
                {% endif %}
            </div>
        </div>
        
    </section>
    <aside class="reservation__info">
        <h4 class="reservation__title">Your stay</h4>
        <div class="reservation__info-text">
            <div class="reservation__date">
                <span class="reservation__text">Check-In</span>
                <p class="">After 14:00</p>
            </div>
            <div class="reservation__date">
                <span class="reservation__text">Check-Out</span>
                <p class="">Before 12:00</p>
            </div>
        </div>
        <p class="reservation__info-date">
            <span>{{booking.check_in}}</span> - <span>{{booking.check_out}}</span>
        </p>
        <p class="reservation__info-date">{{booking.adult}} persons</p>
        <div class="reservation__info-room">
            <p class="reservation__text">{{room.category.name}}</p>
            <p>{{room.price}} $</p>
        </div>
        <p class="reservation__text">Total: <span class="reservation__info-price">{{booking.get_booking_price}}</span></p>
    </aside>
</main>

<script src="{% static 'js/inputmask.js' %}"></script>
<script src="{% static 'js/reservation.js' %}"></script>
</body>
</html>