.prices {
  //background: $darkBg;
  padding: 120px 0;
  &__card {
    margin-bottom: 90px;
    position: relative;
    &:nth-child(even) .prices__card-img{
      margin-right: auto;
      margin-left: 0;
    }
    &:nth-child(even) .prices__card-text {
      left: auto;
      right: 0;
      background: #222;
      padding: 4% 0 4% 4%;
      //padding: 4% 4% 4% 4%;
    }
    &-img {
      width: 66.666667%;
      margin-left: auto;
      & img {
        width: 100%;
        &:hover {
          transform: scale(0.98);
        }
      }
    }
    &-text {
      background: #222;
      position: absolute;
      left: 0;
      top: 50%;
      width: 50%;
      padding: 4% 4% 4% 0;
      //padding: 4% 4% 4% 4%;
      transform: translate(0, -50%);
    }
    &-price {
      font-size: 24px;
      color: #ab8a62;
      margin-bottom: 0;
    }
    &-night {
      font-size: 15px;
      color: #999;
      font-family: 'Barlow', sans-serif;
    }
    &-title {
      font-size: 35px;
      color: #fff;
      margin-bottom: 5px;
    }
    &-info {
      display: flex;
      flex-wrap: wrap;
    }
    &-icon {
      width: 21px;
    }
    &-item {
      width: 33.33333%;
      color: #999;
      font-size: 15px;
      padding-bottom: 10px;
      display: flex;
      column-gap: 10px;
      align-items: center;
    }
    &-links {
      border-top: 1px solid #2b2b2b;
      padding-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-link {
      position: relative;
      display: flex;
      align-items: center;
      column-gap: 5px;
      color: #999;
      text-transform: uppercase;
      font-family: 'Barlow Condensed', sans-serif;
      font-size: 15px;
      font-weight: 400;
      letter-spacing: 3px;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 1px;
        background-color: #aa8453;
        transition: all ease 0.4s;
      }
      &:hover:before {
        width: 100%;
      }
      & span {
        width: 13px;
      }
    }
  }
}