.profile {
  padding: 120px 0;
  background: $darkBg;
  &__message {
    margin-top: 50px;
  }
  &__form {
    max-width: 550px;
  }
  &__field {
    display: flex;
    column-gap: 30px;
  }
  &__label {
    width: 50%;
  }
  &__input {
    margin-bottom: 25px;
    padding: 10px 0;
    height: auto;
    width: 100%;
    background-color: transparent;
    box-shadow: none;
    border-width: 0 0 1px;
    border-style: solid;
    line-height: 1.5em;
    font-size: 15px;
    font-weight: 400;
    color: rgba(255,255,255,0.5);
    background-image: none;
    border-bottom: 1px solid #333;
  }
  &__area {
    resize: vertical;
    height: 100px;
  }
  &__user {
    display: flex;
    align-items: center;
    column-gap: 35px;
    &-img {
      border-radius: 100%;
      width: 120px;
    }
    &-name {
      font-size: 20px;
      color: #fff;
      margin-bottom: 10px;
    }
    &-text {
      display: flex;
      flex-direction: column;
      & .desc {
        margin-bottom: 10px;
      }
    }
  }
}