.relaxation {
  padding: 120px 0;
  &__row {
    display: flex;
    flex-wrap: wrap;
  }
  &__card {
    width: 50%;
    height: 350px;
    overflow: hidden;
    &-text {
      background: #2b2b2b;
      padding: 60px 30px;
    }
    &-title {
      margin-bottom: 10px;
      font-size: 32px;
      color: #fff;
      font-weight: 400;
      line-height: 1.5em;
    }
    &-img {
      width: 100%;
      height: 100%;
      -webkit-transition: all .5s;
      transition: all .5s;
      &:hover {
        filter: none;
        transform: scale(1.09, 1.09);
        transition: all 1s ease;
      }
    }
  }
}