.restaurant {
  padding: 120px 0;
  .desc {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-bottom: 10px;
  }
  &__title {
    margin-top: 25px;
    font-size: 24px;
    color: #fff;
  }
  svg {
    width: 18px;
  }
}