.service {
  padding: 120px 0;
  .serviceSwiper {
    width: 65%;
    margin: 0;
  }
  .service-pagination {
    display: flex;
    position: absolute;
    left: 47%;
    bottom: 10px;
    z-index: 6;
  }
  //.swiper-slide {
  //  margin-right: 30px;
  //  &:last-child {
  //    margin-right: 0;
  //  }
  //}
  &__content {
    height: 508px;
    display: flex;
    justify-content: space-between;
  }
  &__card {
    max-width: 320px;
    background-color: #2b2b2b;
    &-img {
      width: 100%;
    }
    &-text {
      padding: 40px;
    }
    &-title {
      line-height: 1;
      font-size: 24px;
      color: #fff;
      margin-bottom: 20px;
    }
    &-price {
      line-height: 1;
      font-family: $gilda;
      font-size: 40px;
      margin-bottom: 20px;
      color: $brown;
    }
    &-day {
      font-size: 15px;
      color: #999;
    }
    &-item {
      font-size: 15px;
      color: $grey;
    }
    &-icon {
      width: 15px;
      margin-right: 15px;
    }
  }
}