.team {
  padding: 120px 0;
  background: $darkBg;
  &-pagination {
    position: absolute;
    left: 47% !important;
    display: flex;
  }
  .teamSwiper {
    height: 480px;
  }
  .desc {
    margin-bottom: 0;
  }
  &__card {
    width: 311.447px;
    display: flex;
    flex-direction: column;
    &:hover .team__card-hide {
      top: 0;
    }
    &-img {
      width: 100%;
      //height: 270px;
    }
    &-text {
      text-align: center;
      padding: 30px 20px;
      position: relative;
      overflow: hidden;
      background: #2b2b2b;
    }
    &-title {
      font-size: 20px;
      margin-bottom: 5px;
      color: #fff;
    }
    &-hide {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      background: #2b2b2b;
      transition: all .4s;
    }
    &-social {
      display: flex;
      align-items: center;
      column-gap: 10px;
    }
  }
}