{% extends 'base_manager.html'%}

{% block content %}


<p>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addnewmember" style="width:300px;">
    Add New
  </button>
  </p>
  <!-- Modal -->
  <div class="modal fade" id="addnewmember" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add New</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST">
              {% csrf_token %}
              <div class="mb-3">
                  <label>Name</label>
                     <input type="text" id="name" class="form-control"/>
              </div>        
              <div class="mb-3">
                  <label>Email</label>
                  <input type="text" id="email" class="form-control"/>
              </div>
              <div class="mb-3">
                  <label>Phone</label>
                  <input type="text" id="phone" class="form-control"/>
              </div>
           
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="submit">Submit</button>
        </div>
        </form>
      </div>
    </div>
  </div>
   
  <hr style="border-top:1px solid #000; clear:both;"/>
  <table id = "table" class = "table table-bordered">
      <thead class="alert-warning">
          <tr>
              <th>Customer</th>
              <th>Check_in</th>
              <th>Check_out</th>
              <th>Adult</th>
              <th>Children</th>
              <th>Sum</th>
              <th>Room</th>
              <th>Status</th>
              <th>Created</th>
          </tr>
      </thead>

      <tbody>
          {% for booking in all_bookings %}
          <tr>
              <td>
                {% if booking.user %}
                  {{booking.user.full_name}}
                {% else %}
                  {{ booking.customer }}
                {% endif %}

              </td>
              <td>{{ booking.check_in }}</td>
              <td>{{ booking.check_out }}</td>
              <td>{{ booking.adult }}</td>
              <td>{{ booking.children }}</td>
              <td>{{booking.get_booking_price}}</td>
              <td>{{ booking.room }}</td>
              <td>{{ booking.status }}</td>
              <td>{{ booking.created }}</td>
          </tr>
          {% endfor %}
      </tbody>

  </table>

{% endblock %}