<!DOCTYPE html>
<html lang="en">
<head>
    <title>Manager Page</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"/>
  <link rel = "stylesheet" type = "text/css" href = "https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css"/>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
<div class="container">
    <div class="row">
        <h1 class="header__title">Bookings table</h1>
        <hr style="border-top:1px dotted #fff"/>

    </div>
</div>    
</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src = "https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script type = "text/javascript">


$(document).ready(function(){
   
   $('#table').DataTable({
   
   
   });
  
 });
 

</script>
</html>

   
  <hr style="border-top:1px solid #000; clear:both;"/>
  <table id = "table" class = "table table-bordered">
      <thead class="alert-warning">
          <tr>
              <th>Customer</th>
              <th>Phone</th>
              <th>Persons</th>
              <th>Time</th>
          </tr>
      </thead>

      <tbody>
          {% for booking in all_restaurant_bookings %}
          <tr>
              <td>
                {{booking.name}}
              </td>
              <td>{{ booking.phone }}</td>
              <td>{{ booking.persons}}</td>
              <td>{{ booking.time}}</td>
          </tr>
          {% endfor %}
      </tbody>
      <a href="{% url 'manager' %}">
        <button class="btn-brown" type="submit">Room Bookings</button>
    </a>

  </table>